# values such as KeyName, deployment['stack_name_prefix'], deployment['stage'] are sadly hard coded :(

option_settings:
  - namespace: aws:cloudformation:template:resource:property
    resource_name: AWSEBAutoScalingLaunchConfiguration
    option_name: KeyName
    value: streama
  - namespace: aws:cloudformation:template:resource:property
    resource_name: AWSEBAutoScalingGroup
    option_name: MinSize
    value: 2

container_commands:
  01_secrets:
    command: echo "database = $(aws ssm get-parameters --region ap-northeast-1 --names streama_${stage}_db_name --with-decryption --query Parameters[0].Value --output text)" > database.ini
    cwd: /var/app/ondeck/config
  02_secrets:
    command: echo "username = $(aws ssm get-parameters --region ap-northeast-1 --names streama_${stage}_master_username --with-decryption --query Parameters[0].Value --output text )" >> database.ini
    cwd: /var/app/ondeck/config
  03_secrets:
    command: echo "password = $(aws ssm get-parameters --region ap-northeast-1 --names streama_${stage}_master_password --with-decryption --query Parameters[0].Value --output text )" >> database.ini
    cwd: /var/app/ondeck/config
